# Prevent git from showing duplicate names with commands like "git shortlog"
# See the manpage of git-shortlog for details.
# The syntax is:
# Name that should be used <email that should be used> Bad name <bad email>
#
# You can skip Bad name if it is the same as the one that should be used, and is unique.
#
# This file is up-to-date if the command git log --format="%aN <%aE>" | sort -u
# gives no duplicates.
Colin B. Macdonald <cbm@m.fsf.org> Colin Macdonald <macdonald@maths.ox.ac.uk>
Colin B. Macdonald <cbm@m.fsf.org> Colin B. Macdonald <macdonald@maths.ox.ac.uk>
Colin B. Macdonald <cbm@m.fsf.org> Colin Macdonald <cbm@m.fsf.org>
Abhinav Tripathi <genuinelucifer@gmail.com> Abhinav <genuinelucifer@gmail.com>
Abhinav Tripathi <genuinelucifer@gmail.com> <genuineabhinav@gmail.com>
Carnë Draug <carandraug@octave.org> carandraug <devnull@localhost>
Carnë Draug <carandraug@octave.org> <carandraug+dev@gmail.com>
John W. Eaton <jwe@octave.org> jwe <devnull@localhost>
Mike Miller <mtmiller@octave.org> <mtmiller@ieee.org>
Andrés Prieto <prieto.aneiros@gmail.com> maprieto <prieto.aneiros@gmail.com>
utkarsh <utkarshgautam247@gmail.com> utkarsh <iamutkash@cse.iitb.ac.in>
Orion Poplawski <orion@cora.nwra.com> opoplawski <devnull@localhost>
Alex Vong <alexvong1995 AT protonmail DOT com> alexvong1995 <10696787+alexvong1995@users.noreply.github.com>
Alex Vong <alexvong1995 AT protonmail DOT com> <alexvong1995@gmail.com>
Alex Vong <alexvong1995 AT protonmail DOT com> <alexvong.n6215@simplelogin.com>
Rafael Laboissiere <rafael@laboissiere.net> rlaboiss <devnull@localhost>
